
.App {
  text-align: center;
  font-family: "Advent Pro", sans-serif;
}
.container {
  display: flex;
}
.left-column {
  display: flex;
  flex-direction: column;
  padding-left: 20px;
}
.left-column,
.right-column {
  width: 20%;
}
.center-column {
  width: 50%;
  border-left: 1px solid black; /* Add a border between the columns */
  border-right: 1px solid black; /* Add a border between the columns */
}

.right-column {
  display: flex; /* Use flexbox for layout */
  flex-direction: column; /* Stack elements vertically */
  width: 30%;
}
ul {
  list-style: none;
  padding: 0;
  margin:0;
}

li {
  margin-bottom: 30px;
  display: flex;
  align-items: center;
}

a {
  text-decoration: none;
  color: black;
}

img {
  width: 20px;
  height: 20px;
  margin-right: 10px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding: 0;
  border-bottom: 2px solid black;
}

.navigation li {
  margin-right: 20px;
}

.navigation a {
  text-decoration: none;
  color: black;
}
.navigation a.active {
  text-decoration: underliqwepruioold;
}
.post {
  border-bottom: 1px solid black;
}

.message {
  margin-bottom: 10px;
}

.actions button {
  margin-right: 10px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.search-box {
  margin-bottom: 20px;
}

.search-box input {
  width: 80%;
  padding: 5px;
}

.search-box img {
  width: 20px;
  height: 20px;
  vertical-align: middle;
  margin-left: 5px;
}

.like-box,
.trends-box {
  margin-bottom: 20px;
}

.like-box p {
  font-weight: bold;
}

.trend {
  display: flex;
  flex-wrap: wrap;
}

.trend span {
  margin-right: 10px;
}